<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title align = "center">
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">Contacts</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color = "tertiary">
    <ion-card-header>
      <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
        <tbody>
        <tr>
        <td><ion-thumbnail>
          <img src="assets/imagenes/mas.png">
          </ion-thumbnail></td>
        <td>  Emergencia Sanitaria  </td>
        </tr>
        </tbody>
        </table> 
      </ion-card-subtitle>
      <ion-card-title align = "right"><a> Consultas por síntomas COVID</a></ion-card-title>
    </ion-card-header>
    <ion-card-content align = "right">
      Fono COVID:  600 360 77 77
    </ion-card-content>
  </ion-card>

  <ion-card color = "tertiary">
    <ion-card-header>
      <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
        <tbody>
        <tr>
        <td><ion-thumbnail>
          <img src="assets/imagenes/at.jpg">
          </ion-thumbnail></td>
        <td>  Emergencias  </td>
        </tr>
        </tbody>
        </table> 
      </ion-card-subtitle>
      <ion-card-title align = "right"><a>Números de Emergencias</a></ion-card-title>
    </ion-card-header>
    <ion-card-content align = "right">
      Conaf:  130<br>
     Ambulancias Samu:  131 <br>
     Bomberos:  132 <br>
     Carabineros:  133<br>
PDI: 134 <br>
Información y orientación por violencia intrafamiliar:  149 <br>
Fono Adulto Mayor:  800 400 035
    </ion-card-content>
    </ion-card>


  <ion-card color = "tertiary">
    <ion-card-header>
      <ion-card-subtitle><table cellspacing="1" cellpadding="1" border="0">
        <tbody>
        <tr>
        <td><ion-thumbnail>
          <img src="assets/imagenes/USM.jpg">
          </ion-thumbnail></td>
        <td>  USM  </td>
        </tr>
        </tbody>
        </table>
      </ion-card-subtitle>
      <ion-card-title align = "right"><a>Números Campus/Sedes</a></ion-card-title>
    </ion-card-header>
    <ion-card-content align = "right">
     Campus Casa Central:  (32) 265 2734  <br> Campus Vitacura:   (22) 303 7030<br>Campus San joaqín:   (22) 303 7030<br> Sede Concepción:   (41) 240 7513<br> Sede Viña del Mar:  (32) 265 2734 
    </ion-card-content>
    </ion-card>


    <ion-card color = "tertiary">
      <ion-card-header>
        <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
          <tbody>
          <tr>
          <td><ion-thumbnail>
            <img src="assets/imagenes/unab.jpg">
            </ion-thumbnail></td>
          <td>  UNAB  </td>
          </tr>
          </tbody>
          </table> 
        </ion-card-subtitle>
        <ion-card-title align = "right"><a>Números Campus</a></ion-card-title>
      </ion-card-header>
      <ion-card-content align = "right">
       Campus UNAB: (2) 2352 8864 <br>
       (Nota:  Todos los Campus utilizan este número)
      </ion-card-content>
      </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-card color = "tertiary">
  <ion-card-header>
    <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
      <tbody>
      <tr>
      <td><ion-thumbnail>
        <img src="assets/imagenes/uvalpo.png">
        </ion-thumbnail></td>
      <td>  UV  </td>
      </tr>
      </tbody>
      </table> 
    </ion-card-subtitle>
    <ion-card-title align = "right"><a>Números Campus</a></ion-card-title>
  </ion-card-header>
  <ion-card-content align = "right">
   Campus UV valparaíso: (32) 250 7000 <br> Campus UV San Felipe:  (34) 243 1200 <br> Campus Santiago: (22) 329 2110
  </ion-card-content>
  </ion-card>

<ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">Contacts</ion-title>
</ion-toolbar>
</ion-header>
</ion-content>
