<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title align = "center">
      Links
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >Links</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card color = "tertiary">
    <ion-card-header>
      <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
        <tbody>
        <tr>
        <td><ion-thumbnail>
          <img src="assets/imagenes/USM.jpg">
          </ion-thumbnail></td>
        <td>  USM  </td>
        </tr>
        </tbody>
        </table> 
      </ion-card-subtitle>
      <ion-card-title align = "right"><a href="https://aula.usm.cl/#" class="button button-outline button-positive">Aula USM</a></ion-card-title>
    </ion-card-header>
    <ion-card-content align = "right">
      
      Página para alumnos de la USM, aquí puedes encontrar tus cursos, calificaciones, tareas, entre otros.
    </ion-card-content>
  </ion-card>
  <ion-card color = "tertiary">
    
    <ion-card-header>
      <ion-card-subtitle>
        <table cellspacing="1" cellpadding="1" border="0">
          <tbody>
          <tr>
          <td><ion-thumbnail>
            <img src="assets/imagenes/USM.jpg">
            </ion-thumbnail></td>
          <td>  USM  </td>
          </tr>
          </tbody>
          </table> 
      </ion-card-subtitle>
      <ion-card-title align = "right"><a href="https://aula-antigua.usm.cl/auth/usm/login.php?return_dest=https%3A%2F%2Faula-antigua.usm.cllogin%2Findex.php&errormsg=" class="button button-outline button-positive">Aula Antigua USM</a></ion-card-title>
    </ion-card-header>
    <ion-card-content align = "right">
      Página para alumnos de la USM, esta es la antigua versión de la pagína Aula, aquí puedes encontrar el material de tus cursos anteriores al segundo semestre del año 2020.
    </ion-card-content>
    </ion-card>
    <ion-card color = "tertiary">
      <ion-card-header>
        <ion-card-subtitle><table cellspacing="1" cellpadding="1" border="0">
          <tbody>
          <tr>
          <td><ion-thumbnail>
            <img src="assets/imagenes/USM.jpg">
            </ion-thumbnail></td>
          <td>  USM  </td>
          </tr>
          </tbody>
          </table> 
        </ion-card-subtitle>
        <ion-card-title align = "right"><a href="http://siga.usm.cl" class="button button-outline button-positive">SIGA</a></ion-card-title>
      </ion-card-header>
      <ion-card-content align = "right">
        Sistema de información y gestión académica.
        Aquí puedes revisar tus datos académicos y pedir documentos (ej: certificado alumno regular).
      </ion-card-content>
      </ion-card> 
      <ion-card color = "tertiary">
        <ion-card-header>
          <ion-card-subtitle><table cellspacing="1" cellpadding="1" border="0">
            <tbody>
            <tr>
            <td><ion-thumbnail>
              <img src="assets/imagenes/USM.jpg">
              </ion-thumbnail></td>
            <td>  USM  </td>
            </tr>
            </tbody>
            </table>
          </ion-card-subtitle>
          <ion-card-title align = "right"><a href="https://biblioteca.usm.cl/c.php?g=926221" class="button button-outline button-positive">Biblioteca USM</a></ion-card-title>
        </ion-card-header>
        <ion-card-content align = "right">
          Sitio de la biblioteca, aqui puedes realizar prestamos en sala o a domicilio de material bibliográfico y tecnológico.
        </ion-card-content>
        </ion-card>   
      <ion-card color = "tertiary">
        <ion-card-header color = "tertiary">
          <ion-card-subtitle ><table cellspacing="1" cellpadding="1" border="0">
            <tbody>
            <tr>
            <td><ion-thumbnail>
              <img src="assets/imagenes/USM.jpg">
              </ion-thumbnail></td>
            <td>  USM  </td>
            </tr>
            </tbody>
            </table>
          </ion-card-subtitle>
          <ion-card-title align = "right"><a href="https://repositorio.usm.cl" class="button button-outline button-positive" >Repositorio Digital USM</a></ion-card-title>
        </ion-card-header>
        <ion-card-content align = "right" >
          Repositorio de tesis y memorias de ex alumnos.
        </ion-card-content>
        </ion-card>
        <ion-card color = "tertiary">
          <ion-card-header>
            <ion-card-subtitle><table cellspacing="1" cellpadding="1" border="0">
              <tbody>
              <tr>
              <td><ion-thumbnail>
                <img src="assets/imagenes/USM.jpg">
                </ion-thumbnail></td>
              <td>  USM  </td>
              </tr>
              </tbody>
              </table>
            </ion-card-subtitle>
            <ion-card-title align = "right"><a href="http://sireb.usm.cl" class="button button-outline button-positive">SIREB</a></ion-card-title>
          </ion-card-header>
          <ion-card-content align = "right">
            En el SIREB puedes pedir hora a servicios que ofrece la universidad (Asitente social,dentista, entre otros)
          </ion-card-content>
          </ion-card>
          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle><table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/USM.jpg">
                  </ion-thumbnail></td>
                <td>  USM  </td>
                </tr>
                </tbody>
                </table>
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://dti.usm.cl" class="button button-outline button-positive">DTI</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              Direccion de Tecnologías de la Información, aquí puedes acceder a los convenios tecnológicos, tales como descargar Office 365, MatLab, entre otros.
            </ion-card-content>
            </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/uvalpo.png">
                  </ion-thumbnail></td>
                <td>  UV  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://portalalumnospregrado.uv.cl/" class="button button-outline button-positive">Portal Pregrado</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Página para alumnos de la UV, aquí puedes encontrar desde el Aula hasta contacto con scretaría académica.
            </ion-card-content>
          </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/uvalpo.png">
                  </ion-thumbnail></td>
                <td>  UV  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://dae.uv.cl/" class="button button-outline button-positive">DAE</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              La Dirección de Asuntos Estudiantiles, aquí puedes revisar charlas y administrar asuntos arancelarios.
            </ion-card-content>
          </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/uvalpo.png">
                  </ion-thumbnail></td>
                <td>  UV  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://divacad.uv.cl/" class="button button-outline button-positive">Vicerrectoría Académica</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Página de la Vicerrectoría académica, aquí puedes realizar quejas y denuncias estudiantiles.
            </ion-card-content>
          </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/uvalpo.png">
                  </ion-thumbnail></td>
                <td>  UV  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://bibliotecas.uv.cl/" class="button button-outline button-positive">Biblioteca UV</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Esta es la página de la biblioteca, debes ingresar con la cuenta de la universidad para tener acceso a libros, papers, etc.
            </ion-card-content>
          </ion-card>
          
          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/uvalpo.png">
                  </ion-thumbnail></td>
                <td>  UV  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://dtic.uv.cl/" class="button button-outline button-positive">DTIC</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Dirección de Tecnologías de Información y Comunicación. Puedes encontrar información de los sistemas informáticos de la Universidad, puedes (por ejemplo) solicitar préstamo de un computador.
            </ion-card-content>
          </ion-card>

          
          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/unab.jpg">
                  </ion-thumbnail></td>
                <td>  UNAB  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://portal.unab.cl/" class="button button-outline button-positive">Portal UNAB</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Este es el portal para los alumnos de la UNAB, aquí puedes acceder a las aplicaciónes de la universidad, también puedes revisar tu horario,correos, calendario académico, anuncios, entre otros.
            </ion-card-content>
          </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/unab.jpg">
                  </ion-thumbnail></td>
                <td>  UNAB  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://biblioteca.unab.cl/" class="button button-outline button-positive">Biblioteca UNAB</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Esta es la página de la biblioteca, debes acceder con tu cuenta de alumno para poder utilizar el material disponible.
            </ion-card-content>
          </ion-card>

          <ion-card color = "tertiary">
            <ion-card-header>
              <ion-card-subtitle> <table cellspacing="1" cellpadding="1" border="0">
                <tbody>
                <tr>
                <td><ion-thumbnail>
                  <img src="assets/imagenes/unab.jpg">
                  </ion-thumbnail></td>
                <td>  UNAB  </td>
                </tr>
                </tbody>
                </table> 
              </ion-card-subtitle>
              <ion-card-title align = "right"><a href="https://unab.blackboard.com/webapps/login/" class="button button-outline button-positive">Blackboard</a></ion-card-title>
            </ion-card-header>
            <ion-card-content align = "right">
              
              Esta es la Blackboard, aquí puedes acceder a tus ramos,realizar tus clases y tareas.
            </ion-card-content>
          </ion-card>
</ion-content>
